page-login {
    .alignLogo{
        width:50%;
        padding-top:40%;
        transform:translateX(50%);
    }

    .btnLogin{
        height:75px;
        color:white;
        font-size:medium;
    }
}
