
<ion-header>

  <ion-navbar>
    <ion-title>Parking</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-bounce padding>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-icon name="alert" item-start></ion-icon>
        Current Status
        <ion-item text-wrap>
          <div *ngIf = 'rating == "Available"'>
            <ion-badge color="btngreen" item-end>{{ getLastParking() }}</ion-badge>
          </div>
          <div *ngIf = 'rating == "No Available"'>
            <ion-badge color="btnred" item-end>{{ getLastParking() }}</ion-badge>
          </div>
        </ion-item>
        <!--<ion-badge color="btngreen" item-end>{{ getLastParking() }}</ion-badge>-->
      </ion-item>

      <ion-item>
          <ion-icon name="time" item-start></ion-icon>
          Last Updated
          <ion-badge color="light" item-end>{{ rating }}</ion-badge>
        </ion-item>
    </ion-col>
  </ion-row>

  <ion-row style="padding-top:20%;">
    <ion-col>
        <button ion-button icon-left full large color="btngreen" (click)="addParking('Available')">
          <ion-icon name="checkmark-circle"></ion-icon>
          PARKING AVAILABLE
        </button>
        <br>
        <button ion-button icon-left full large color="btnred" (click)="addParking('No Available')">
          <ion-icon name="close-circle"></ion-icon>
          PARKING UNAVAILABLE
        </button>
    </ion-col>
  </ion-row>
</ion-content>
