
<ion-header>

  <ion-navbar>
    <ion-title>Parking</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-bounce padding>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-avatar item-start>
          <img src="/assets/imgs/alert.png">
        </ion-avatar>
        <h2>Current Status</h2>
          <div *ngIf = 'getRating() == "Available"' text-wrap>
            <p>{{ getLastParking() }}</p>
          </div>
          <div *ngIf = 'getRating() != "Available"' text-wrap>
            <p>{{ getLastParking() }}</p>
          </div>
      </ion-item>

      <ion-item>
          <ion-avatar item-start>
            <img src="/assets/imgs/time.png">
          </ion-avatar>
          <h2>Last Updated</h2>
          <p>{{ getLastTime() }}</p>
        </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
        <button ion-button icon-left full large color="btngreen" (click)="addParking('Available')">
          <ion-icon name="checkmark-circle"></ion-icon>
          PARKING AVAILABLE
        </button>
        <br>
        <button ion-button icon-left full large color="btnred" (click)="addParking('No Available')">
          <ion-icon name="close-circle"></ion-icon>
          PARKING UNAVAILABLE
        </button>
    </ion-col>
  </ion-row>
</ion-content>
