
<ion-header>

  <ion-navbar>
    <ion-title>Rate Traffic</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce padding>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-icon name="alert" item-start></ion-icon>
        Current Status
        <ion-item text-wrap>
            <div *ngIf = 'rating == "Light"'>
              <ion-badge color="btngreen" item-end>{{ getLastTraffic() }}</ion-badge>
            </div>
            <div *ngIf = 'rating == "Moderate"'>
              <ion-badge color="btnorange" item-end>{{ getLastTraffic() }}</ion-badge>
            </div>
            <div *ngIf = 'rating == "Heavy"'>
                <ion-badge color="btnred" item-end>{{ getLastTraffic() }}</ion-badge>
            </div>
          </ion-item>
        <!--<ion-badge item-end>{{ getLastTraffic() }}</ion-badge>-->
      </ion-item>

      <ion-item>
        <ion-icon name="time" item-start></ion-icon>
        Last Updated
        <ion-badge color="light" item-end>{{ getLastTime() }}</ion-badge>
      </ion-item>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col style="transform:translateY(35%);">
      <button ion-button full large color="btngreen" (click)="addRateTraffic('Light')">LIGHT</button><br>
      <button ion-button full large color="btnorange" style="color:white;" (click)="addRateTraffic('Moderate')">MODERATE</button><br>
      <button ion-button full large color="btnred" (click)="addRateTraffic('Heavy')">HEAVY</button>
    </ion-col>
  </ion-row>
</ion-content>
