
<ion-header>

  <ion-navbar>
    <ion-title>Rate Traffic</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce padding>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-avatar item-start>
          <img src="/assets/imgs/alert.png">
        </ion-avatar>
        <h2>Current Status</h2>
            <div *ngIf = 'getRating() == "Light"'>
              <p>{{ getLastTraffic() }}</p>
            </div>
            <div *ngIf = 'getRating() == "Moderate"'>
              <p>{{ getLastTraffic() }}</p>
            </div>
            <div *ngIf = 'getRating() == "Heavy"'>
              <p>{{ getLastTraffic() }}</p>
            </div>
      </ion-item>

      <ion-item>
        <ion-avatar item-start>
          <img src="/assets/imgs/time.png">
        </ion-avatar>
        <h2>Last Updated</h2>
        <p>{{ getLastTime() }}</p>
      </ion-item>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col>
      <button ion-button full large color="btngreen" (click)="addRateTraffic('Light')">LIGHT</button><br>
      <button ion-button full large color="btnorange" style="color:white;" (click)="addRateTraffic('Moderate')">MODERATE</button><br>
      <button ion-button full large color="btnred" (click)="addRateTraffic('Heavy')">HEAVY</button>
    </ion-col>
  </ion-row>
</ion-content>
